In [37]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('2002revised_heat.csv', index_col='index')

In [5]:
data.head()

       Lat   Lon        time    EHIsig    EHIacl       EHF
index
0      8.5  73.5  2002-01-01 -0.026804  1.670965 -0.044788
1      8.5  73.5  2002-01-02  0.076494  1.757426  0.134433
2      8.5  73.5  2002-01-03 -0.033503  1.636263 -0.054819
3      8.5  73.5  2002-01-04 -0.276814  1.381625 -0.382453
4      8.5  73.5  2002-01-05 -0.406801  1.240302 -0.504556

In [6]:
data = data[['Lat', 'Lon', 'time', 'EHF']]

In [8]:
data['time'] = pd.to_datetime(data['time'])

In [12]:
data['year'] = data['time'].dt.year

In [13]:
data['month'] = data['time'].dt.month

In [15]:
data['day'] = data['time'].dt.day

In [17]:
from sklearn.linear_model import LinearRegression

In [19]:
from sklearn.model_selection import train_test_split

In [ ]:
df = data[np.isfinite(data['EHF'])]

In [50]:
X_train, X_test, y_train, y_test = train_test_split(df[['Lat', 'Lon', 'year','month', 'day']], df['EHF'], test_size=0.33, random_state=42)

In [52]:
reg = LinearRegression().fit(X_train, y_train)

In [53]:
reg.score(X_test, y_test)

0.0818948807365204

In [54]:
reg.coef_

array([-0.33997485, -0.00844595,  0.        ,  0.59211239, -0.03630887])

In [55]:
reg.intercept_

1.405442462235034

In [58]:
reg.predict(np.array([[34.5, 78.5, 2003, 1, 10]]))

array([-10.75767337])