In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('MaxT.csv')

In [15]:
points = pd.read_csv('Point details.txt', sep="\t")

In [16]:
points.head()

   Point_ID  Latitude  Longitude
0         1       8.5       73.5
1         2       8.5       76.5
2         3       8.5       77.5
3         4       8.5       78.5
4         5       9.5       76.5

In [4]:
df = df.set_index(["lat","lon"])

In [6]:
df.head()

                time   t
lat lon
7.5 67.5  1951-01-01 NaN
    67.5  1951-01-02 NaN
    67.5  1951-01-03 NaN
    67.5  1951-01-04 NaN
    67.5  1951-01-05 NaN

In [17]:
req_points = [tuple(l) for l in points[["Latitude", "Longitude"]].values]

In [12]:
df2 = df.loc[req_points]

In [15]:
df2.to_csv("MaxT_main.csv")

In [16]:
df2.head()

                time          t
lat lon
8.5 73.5  1951-01-01  31.450039
    73.5  1951-01-02  31.340214
    73.5  1951-01-03  31.469805
    73.5  1951-01-04  31.379921
    73.5  1951-01-05  31.360233

In [35]:
for p in req_points:
    df_row = df2.loc[p]
    avg = df_row['t'].mean()
    std = df_row['t'].std()
    st1.at[p, 'avg'] = avg
    st1.at[p, 'std'] = std
    st1.at[p, 'spike'] = avg+3*std
    st1.at[p, 'reduction'] = avg-3*std

In [37]:
st1.to_csv("method_each_point.csv")

In [40]:
df2[df2['time'].month == 1].head()

AttributeError: 'Series' object has no attribute 'month'

In [7]:
df2['time'] = pd.to_datetime(df2['time'])

In [8]:
df2['month'] = df2['time'].dt.month

In [9]:
df2 = df2.set_index('month', append=True)

In [10]:
df2.head()

                     time          t
lat lon  month
8.5 73.5 1     1951-01-01  31.450039
         1     1951-01-02  31.340214
         1     1951-01-03  31.469805
         1     1951-01-04  31.379921
         1     1951-01-05  31.360233

In [20]:
months = [i for i in range(1, 13)]
req_points2 = []
for t in req_points:
    for m in months:
        tup = t + (m, )
        req_points2.append(tup)

In [42]:
for p in req_points2:
    df_row = df2.loc[p]
    avg = df_row['t'].mean()
    std = df_row['t'].std()
    st1.at[p, 'avg'] = avg
    st1.at[p, 'std'] = std
    st1.at[p, 'spike'] = avg+3*std
    st1.at[p, 'reduction'] = avg-3*std

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.

In [25]:
st1 = df2.drop(['t', 'time'], axis=1)

In [27]:
st1['avg'] = 0.0
st1['std'] = 0.0
st1['spike'] = 0.0
st1['reduction'] = 0.0

In [25]:
st1 = pd.DataFrame(req_points2, columns=['lat', 'lon', 'month'])

In [26]:
st1 = st1.set_index(['lat', 'lon', 'month'])

In [44]:
st1.to_csv('method_each_month.csv')

In [43]:
st1[st1['avg']==0.0].shape

(0, 4)

In [50]:
df2 = df2.reset_index()
df2 = df2.set_index(['lat', 'lon', 'month'])

In [52]:
df2.head()
df2.to_csv('temp2.csv')

In [11]:
df2 = pd.read_csv('temp2.csv')

In [12]:
df2['month'] = df2['month'].map({1:1, 2:1, 3:2, 4:2, 5:2, 6:3, 7:3, 8:3, 9:3, 10:4, 11:4, 12:4})

In [13]:
df2['month'].head()

0    1
1    1
2    1
3    1
4    1
Name: month, dtype: int64

In [14]:
df2 = df2.set_index(['lat', 'lon', 'month'])

In [23]:
months = [i for i in range(1, 5)]
req_points2 = []
for t in req_points:
    for m in months:
        tup = t + (m, )
        req_points2.append(tup)

In [29]:
for p in req_points2:
    df_row = df2.loc[p]
    avg = df_row['t'].mean()
    std = df_row['t'].std()
    st1.at[p, 'avg'] = avg
    st1.at[p, 'std'] = std
    st1.at[p, 'spike'] = avg+3*std
    st1.at[p, 'reduction'] = avg-3*std

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.

In [30]:
st1.head()

                      avg       std      spike  reduction
lat lon  month
8.5 73.5 1      32.158483  0.773981  34.480426  29.836541
         2      33.000063  1.172599  36.517860  29.482267
         3      29.871933  1.257698  33.645026  26.098840
         4      31.218795  1.069469  34.427202  28.010388
    76.5 1      30.807980  0.867254  33.409743  28.206217

In [35]:
st1.to_csv('method_each_season.csv')

In [32]:
del df2

In [36]:
st1 = pd.read_csv('method_each_season.csv')

In [38]:
for i in range(1, 5):
    st2 = st1[st1['month'] == i]
    st2 = st2.drop('month', axis=1)
    st2.to_csv('method_each_season_'+str(i)+'.csv')